workflows/cPCCC18A3ledR7z5.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Transacciones ERP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Pérdidas Agua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transacciones ERP": {
      "main": [
        [
          {
            "node": "Merge Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pérdidas Agua": {
      "main": [
        [
          {
            "node": "Merge Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Datasets": {
      "main": [
        [
          {
            "node": "Calculate Financial Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Financial Indicators": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for AI": {
      "main": [
        [
          {
            "node": "AI Agent - Financial Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Financial Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Financial Analysis": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Financial Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "IF Requiere Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Requiere Alerta": {
      "main": [
        [
          {
            "node": "Filter Critical Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical Alerts": {
      "main": [
        [
          {
            "node": "Aggregate Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Alerts": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Grafana Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Grafana Dashboard": {
      "main": [
        [
          {
            "node": "Update Grafana Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T00:04:20.960Z",
  "id": "cPCCC18A3ledR7z5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ERM Financiero Consolidado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "31cc5dbb-1874-4601-bb7a-8ccc03f89d5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2720,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT f.id_filial, f.nombre, SUM(CASE WHEN t.tipo_transaccion = 'ingreso' THEN t.monto ELSE 0 END) AS ingresos, SUM(CASE WHEN t.tipo_transaccion = 'egreso' THEN t.monto ELSE 0 END) AS egresos FROM filiales f LEFT JOIN transacciones_erp t ON f.id_filial = t.id_filial AND DATE_TRUNC('month', t.fecha_transaccion) = DATE_TRUNC('month', CURRENT_DATE) GROUP BY f.id_filial, f.nombre",
        "options": {}
      },
      "id": "e1628df7-ed1a-4046-8f71-b77748750949",
      "name": "Fetch Transacciones ERP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2496,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "gyXDt2PS3zJ6Ccuo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_filial, volumen_producido_m3, volumen_facturado_m3, porcentaje_perdida, costo_estimado_perdida FROM perdidas_agua WHERE fecha_registro >= CURRENT_DATE - INTERVAL '30 days'",
        "options": {}
      },
      "id": "7d624ba7-4a09-4ea6-93cb-b2e7a9698394",
      "name": "Fetch Pérdidas Agua",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2496,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "gyXDt2PS3zJ6Ccuo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id_filial",
        "options": {}
      },
      "id": "19419444-cfdd-47bf-9e07-c643a0ec91bd",
      "name": "Merge Datasets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2304,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst processed = items.map(item => {\n  const data = item.json;\n  \n  const utilidad_neta = (data.ingresos || 0) - (data.egresos || 0);\n  const margen_operativo = data.ingresos > 0 ? ((utilidad_neta / data.ingresos) * 100).toFixed(2) : 0;\n  const eficiencia_facturacion = data.volumen_producido_m3 > 0 ? ((data.volumen_facturado_m3 / data.volumen_producido_m3) * 100).toFixed(2) : 0;\n  const alerta_presupuesto = Math.abs(data.desviacion || 0) > (data.monto_presupuestado || 0) * 0.15 ? 'CRÍTICO' : 'NORMAL';\n\n  return {\n    json: {\n      ...data,\n      utilidad_neta,\n      margen_operativo,\n      eficiencia_facturacion,\n      alerta_presupuesto,\n      fecha_calculo: new Date().toISOString().split('T')[0]\n    }\n  };\n});\n\nreturn processed;"
      },
      "id": "f63e60b8-b396-48a5-8b4c-7f897dc4b712",
      "name": "Calculate Financial Indicators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "function formatJSON(arr) {\n  return JSON.stringify(arr, null, 2).replace(/\\\\\"/g, '\"');\n}\n\nconst unified = formatJSON($input.first().json.data);\n\nreturn [{ json: { unified } }];"
      },
      "id": "4cc18b97-8837-49ee-b964-27faf30ab2fc",
      "name": "Format Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        -160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        -368
      ],
      "id": "40224a81-dbf1-47de-9774-525a11da377e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l4VavEq77Owh5zeJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un Analista Financiero Senior especializado en gestión de empresas de servicios públicos de agua. Tu responsabilidad es evaluar la salud financiera y operativa de filiales y generar alertas tempranas sobre riesgos críticos.\n\nAnaliza los siguientes indicadores financieros consolidados de las filiales de Aqualia:\n\n{{ JSON.stringify($json) }}\n\n### Criterios para clasificar como RIESGO FINANCIERO (requiere_alerta: true):\n\n* Margen operativo < 15% indica baja rentabilidad\n* Pérdida de agua > 35% representa ineficiencia crítica\n* Desviación presupuestal > 15% del monto presupuestado\n* Eficiencia de facturación < 85%\n* Utilidad neta negativa por más de 2 meses consecutivos\n* Costo de agua perdida > 20% de los ingresos totales\n\n### Criterios para clasificar como OPERACIÓN NORMAL (requiere_alerta: false):\n\n* Indicadores dentro de rangos aceptables\n* Variaciones explicables por estacionalidad\n* Tendencias positivas en eficiencia\n\n**Responde ÚNICAMENTE con un array JSON válido. No incluyas texto antes ni después.**\n\nEl formato exacto es:\n\n[\n  {\n    \"id_filial\": <number>,\n    \"nombre_filial\": \"<string>\",\n    \"requiere_alerta\": <true|false>,\n    \"nivel_riesgo\": \"<BAJO|MEDIO|ALTO|CRÍTICO>\",\n    \"analisis_detallado\": \"<texto explicativo>\",\n    \"recomendaciones\": \"<acciones sugeridas>\"\n  }\n]",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1120,
        -160
      ],
      "id": "ded82908-3fd1-413d-8e38-bb5191f6f354",
      "name": "AI Agent - Financial Analysis"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"id_filial\": { \"type\": \"number\" },\n      \"nombre_filial\": { \"type\": \"string\" },\n      \"requiere_alerta\": { \"type\": \"boolean\" },\n      \"nivel_riesgo\": { \"type\": \"string\" },\n      \"analisis_detallado\": { \"type\": \"string\" },\n      \"recomendaciones\": { \"type\": \"string\" }\n    },\n    \"required\": [\"id_filial\", \"nombre_filial\", \"requiere_alerta\", \"nivel_riesgo\", \"analisis_detallado\", \"recomendaciones\"],\n    \"additionalProperties\": false\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -976,
        -368
      ],
      "id": "fecd1ebc-0dc8-4d5d-befb-98e8ce8a4a4b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        -160
      ],
      "id": "0ee43343-1ae8-47f7-aa3b-f3ecb78e0200",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25874bfc-d965-4a09-8e97-a9f45d9d0110",
              "leftValue": "={{ $json.requiere_alerta }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        -160
      ],
      "id": "6d4eb638-261c-4292-a5d6-4bf27e9bc953",
      "name": "IF Requiere Alerta"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet alertas = [];\n\nfor (const item of items) {\n    const data = item.json;\n\n    if (data.requiere_alerta === true) {\n        alertas.push({\n            id_filial: data.id_filial,\n            nombre_filial: data.nombre_filial,\n            nivel_riesgo: data.nivel_riesgo,\n            analisis_detallado: data.analisis_detallado,\n            recomendaciones: data.recomendaciones\n        });\n    }\n}\n\nreturn alertas.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -176
      ],
      "id": "bb41a2fa-ef53-4e8c-bcd5-cfedf6119dc1",
      "name": "Filter Critical Alerts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        -176
      ],
      "id": "605bb882-00aa-40e6-90bf-33356519c3b2",
      "name": "Aggregate Alerts"
    },
    {
      "parameters": {
        "html": "=<html>\n  <body style=\"font-family: Arial, sans-serif; background-color:#f4f8fb; padding: 20px; color:#003049;\">\n    <div style=\"max-width: 800px; margin: auto; background: #ffffff; padding: 25px; border-radius: 8px; border: 1px solid #dce6ee;\">\n      \n      <h2 style=\"color:#005f99; margin-bottom: 10px; font-weight: 600;\">\n        Alerta Financiera - ERM\n      </h2>\n      \n      <p style=\"font-size: 15px; color:#003049; line-height: 1.5;\">\n        Se han detectado filiales con indicadores financieros críticos que requieren atención inmediata.\n      </p>\n\n      <div style=\"margin-top: 25px;\">\n        {{\n          $input.all().map(i => i.json.data).flat().map(item => `\n            <div style=\"\n              border-left: 4px solid ${\n                item.nivel_riesgo === 'CRÍTICO' ? '#dc3545' :\n                item.nivel_riesgo === 'ALTO' ? '#fd7e14' :\n                item.nivel_riesgo === 'MEDIO' ? '#ffc107' : '#4bb3fd'\n              };\n              padding: 15px;\n              margin-bottom: 20px;\n              background: #f0f7fc;\n              border-radius: 6px;\n            \">\n              <strong style=\"font-size: 16px; color:#003049;\">\n                ${item.nombre_filial} (ID: ${item.id_filial})\n              </strong>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#dc3545; font-weight: bold;\">\n                Nivel de Riesgo: ${item.nivel_riesgo}\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#003049;\">\n                <strong>Análisis:</strong> ${item.analisis_detallado}\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#005f99;\">\n                <strong>Recomendaciones:</strong> ${item.recomendaciones}\n              </p>\n            </div>\n          `).join(\"\")\n        }}\n      </div>\n\n      <p style=\"margin-top: 30px; font-size: 13px; color:#6c7a86; text-align: center;\">\n        Este es un reporte automático generado por el sistema ERM con análisis de IA.\n      </p>\n\n    </div>\n  </body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        128,
        -176
      ],
      "id": "d4ac0dc7-4dcf-4620-827b-d33492792710",
      "name": "Generate HTML Report"
    },
    {
      "parameters": {
        "fromEmail": "andresfelipecalderonramirez@gmail.com",
        "toEmail": "=andres.calderon-r@mail.escuelaing.edu.co, santiago.botero-g@mail.escuelaing.edu.co, ricardo.ayala-g@mail.escuelaing.edu.co, santiago.amaya-z@mail.escuelaing.edu.co, laura.perilla-q@mail.escuelaing.edu.co",
        "subject": "Alerta Financiera Crítica - Aqualia",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        336,
        -176
      ],
      "id": "1dfe28ac-da87-429e-835c-47ebd605cf14",
      "name": "Send Alert Email",
      "webhookId": "8a23800f-cc5d-42c2-9562-3326e83af9e6",
      "credentials": {
        "smtp": {
          "id": "bJprEK5yBNisfuTh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dashboardUidOrUrl": "https://andrescalderonr.grafana.net/d/anzptgl/aquasense"
      },
      "type": "n8n-nodes-base.grafana",
      "typeVersion": 1,
      "position": [
        128,
        16
      ],
      "id": "347e7896-e61a-4c37-9334-e09edcdf11f3",
      "name": "Get Grafana Dashboard",
      "credentials": {
        "grafanaApi": {
          "id": "5NsYOYoxDBbSmYQ0",
          "name": "Grafana account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://andrescalderonr.grafana.net/api/dashboards/db",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "grafanaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {{ JSON.stringify(Object.assign({}, $json.meta, { version: $json.meta.version - 1 })) }},\n  \"dashboard\": {{ JSON.stringify(Object.assign({}, $json.dashboard, { version: $json.dashboard.version - 1 })) }},\n  \"overwrite\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        16
      ],
      "id": "60f5a4fb-ff20-4343-b15c-1bc1511be494",
      "name": "Update Grafana Dashboard",
      "credentials": {
        "grafanaApi": {
          "id": "5NsYOYoxDBbSmYQ0",
          "name": "Grafana account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "indicadores_financieros",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_filial": "={{ $json.id_filial }}",
            "fecha_calculo": "={{ $json.fecha_calculo }}",
            "ingresos_totales": "={{ $json.ingresos }}",
            "egresos_totales": "={{ $json.egresos }}",
            "margen_operativo": "={{ $json.margen_operativo }}",
            "costo_agua_perdida": "={{ $json.costo_estimado_perdida }}",
            "eficiencia_facturacion": "={{ $json.eficiencia_facturacion }}",
            "roi_digitalizacion": 0
          },
          "matchingColumns": [
            "id_indicador"
          ],
          "schema": [
            {
              "id": "id_indicador",
              "displayName": "id_indicador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_filial",
              "displayName": "id_filial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_calculo",
              "displayName": "fecha_calculo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "ingresos_totales",
              "displayName": "ingresos_totales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "egresos_totales",
              "displayName": "egresos_totales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "margen_operativo",
              "displayName": "margen_operativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "costo_agua_perdida",
              "displayName": "costo_agua_perdida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "eficiencia_facturacion",
              "displayName": "eficiencia_facturacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "roi_digitalizacion",
              "displayName": "roi_digitalizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5ea199e3-5bce-4b55-b822-478f1258b52b",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1584,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "gyXDt2PS3zJ6Ccuo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1792,
        -64
      ],
      "id": "f60c557f-2099-4b46-9edf-16a37f0e3563",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1584,
        -160
      ],
      "id": "e88e8322-695f-4bf3-b1b0-2528daf7a729",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "Calculate Financial Indicators": [
      {
        "json": {
          "id_filial": 3,
          "nombre": "Aqualia Buenos Aires",
          "ingresos": "320000.00",
          "egresos": "125000.00",
          "volumen_producido_m3": "850000.00",
          "volumen_facturado_m3": "480000.00",
          "porcentaje_perdida": "43.53",
          "costo_estimado_perdida": "102000.00",
          "utilidad_neta": 195000,
          "margen_operativo": "60.94",
          "eficiencia_facturacion": "56.47",
          "alerta_presupuesto": "NORMAL",
          "fecha_calculo": "2025-11-28"
        }
      },
      {
        "json": {
          "id_filial": 4,
          "nombre": "Aqualia Lagos",
          "ingresos": "210000.00",
          "egresos": "67000.00",
          "volumen_producido_m3": "650000.00",
          "volumen_facturado_m3": "350000.00",
          "porcentaje_perdida": "46.15",
          "costo_estimado_perdida": "78000.00",
          "utilidad_neta": 143000,
          "margen_operativo": "68.10",
          "eficiencia_facturacion": "53.85",
          "alerta_presupuesto": "NORMAL",
          "fecha_calculo": "2025-11-28"
        }
      },
      {
        "json": {
          "id_filial": 2,
          "nombre": "Aqualia Madrid",
          "ingresos": "780000.00",
          "egresos": "45000.00",
          "volumen_producido_m3": "1500000.00",
          "volumen_facturado_m3": "1050000.00",
          "porcentaje_perdida": "30.00",
          "costo_estimado_perdida": "95000.00",
          "utilidad_neta": 735000,
          "margen_operativo": "94.23",
          "eficiencia_facturacion": "70.00",
          "alerta_presupuesto": "NORMAL",
          "fecha_calculo": "2025-11-28"
        }
      },
      {
        "json": {
          "id_filial": 1,
          "nombre": "Aqualia Bogotá",
          "ingresos": "450000.00",
          "egresos": "117000.00",
          "volumen_producido_m3": "1000000.00",
          "volumen_facturado_m3": "620000.00",
          "porcentaje_perdida": "38.00",
          "costo_estimado_perdida": "85000.00",
          "utilidad_neta": 333000,
          "margen_operativo": "74.00",
          "eficiencia_facturacion": "62.00",
          "alerta_presupuesto": "NORMAL",
          "fecha_calculo": "2025-11-28"
        }
      }
    ],
    "AI Agent - Financial Analysis": [
      {
        "json": {
          "output": [
            {
              "id_filial": 3,
              "nombre_filial": "Filial 3",
              "requiere_alerta": true,
              "nivel_riesgo": "CRÍTICO",
              "analisis_detallado": "La Filial 3 presenta un margen operativo saludable (60.94%), pero enfrenta desafíos críticos en la gestión del agua y la eficiencia de facturación. El costo del agua perdida representa un 31.88% de los ingresos totales, superando el umbral del 20%, lo que indica una ineficiencia significativa en la red o en la detección de fugas. Adicionalmente, la eficiencia de facturación es extremadamente baja (56.47%), sugiriendo problemas en los procesos de lectura, facturación o cobranza, lo que impacta directamente en la liquidez y los ingresos.",
              "recomendaciones": "Se recomienda una auditoría exhaustiva de la red para identificar y reparar fugas, implementando tecnologías de detección avanzada. Paralelamente, es crucial revisar y optimizar los procesos de facturación y cobranza, invirtiendo en sistemas que mejoren la precisión y la rapidez. La capacitación del personal en gestión de fugas y atención al cliente para la cobranza también es fundamental. Se debe establecer un plan de acción con metas claras para reducir el costo del agua perdida y aumentar la eficiencia de facturación en los próximos 6 meses."
            },
            {
              "id_filial": 4,
              "nombre_filial": "Filial 4",
              "requiere_alerta": true,
              "nivel_riesgo": "CRÍTICO",
              "analisis_detallado": "Aunque la Filial 4 mantiene un margen operativo robusto (68.10%), su salud operativa está comprometida por un costo del agua perdida alarmante (37.14% de los ingresos totales), lo que denota serias deficiencias en la infraestructura o en la gestión de pérdidas no técnicas. La eficiencia de facturación (53.85%) también está muy por debajo del objetivo, lo que implica una pérdida considerable de ingresos potenciales y una debilidad en la cadena de valor comercial.",
              "recomendaciones": "Es imperativo iniciar un programa de modernización de la infraestructura para mitigar las pérdidas de agua, incluyendo la sectorización de la red y el uso de telemetría. Asimismo, se debe implementar un plan de mejora en la gestión comercial, revisando desde la toma de lecturas hasta la emisión y entrega de facturas, y reforzando las estrategias de recuperación de cartera. Considerar la inversión en digitalización de estos procesos para obtener un mejor control y trazabilidad."
            },
            {
              "id_filial": 2,
              "nombre_filial": "Filial 2",
              "requiere_alerta": true,
              "nivel_riesgo": "MEDIO",
              "analisis_detallado": "La Filial 2 exhibe un excelente margen operativo (94.23%) y un costo de agua perdida que se mantiene por debajo del umbral crítico (12.18% de los ingresos totales). Sin embargo, su eficiencia de facturación (70.00%) está por debajo del 85% deseado, lo que representa una oportunidad significativa para mejorar la captación de ingresos. Esta brecha en la facturación, aunque no tan severa como en otras filiales, limita su potencial de maximizar los beneficios operativos ya existentes.",
              "recomendaciones": "Se sugiere un análisis detallado de los procesos de facturación para identificar cuellos de botella y áreas de mejora. Implementar un sistema de gestión de clientes (CRM) que integre la lectura, facturación y cobranza podría optimizar significativamente la eficiencia. Realizar campañas de actualización de datos de clientes y promover métodos de pago electrónicos para agilizar el proceso de recaudación. Capacitar al personal en el uso de nuevas herramientas y en prácticas óptimas de atención al cliente."
            },
            {
              "id_filial": 1,
              "nombre_filial": "Filial 1",
              "requiere_alerta": true,
              "nivel_riesgo": "MEDIO",
              "analisis_detallado": "La Filial 1 muestra un margen operativo sólido (74.00%) y un control aceptable del costo del agua perdida (18.89% de los ingresos totales), que está justo por debajo del límite de riesgo. El principal punto de mejora se encuentra en la eficiencia de facturación (62.00%), la cual es significativamente baja y podría estar impactando negativamente en la capacidad de la filial para generar y cobrar ingresos de manera efectiva. Mantener el costo del agua perdida bajo control es positivo, pero la baja eficiencia de facturación es un factor limitante.",
              "recomendaciones": "Focalizar esfuerzos en la mejora de la eficiencia de facturación mediante la revisión y estandarización de los procedimientos. Invertir en tecnologías de medición inteligente y sistemas de facturación automatizados puede reducir errores y tiempos. Desarrollar un plan de comunicación con los clientes para educarlos sobre la lectura de medidores y las opciones de pago. A su vez, monitorear de cerca el costo del agua perdida para asegurar que no supere el umbral del 20% y explorar iniciativas para reducirlo aún más."
            }
          ]
        }
      }
    ],
    "Aggregate Alerts": [
      {
        "json": {
          "data": [
            {
              "id_filial": 3,
              "nombre_filial": "Filial 3",
              "nivel_riesgo": "CRÍTICO",
              "analisis_detallado": "La Filial 3 presenta un margen operativo saludable (60.94%), pero enfrenta desafíos críticos en la gestión del agua y la eficiencia de facturación. El costo del agua perdida representa un 31.88% de los ingresos totales, superando el umbral del 20%, lo que indica una ineficiencia significativa en la red o en la detección de fugas. Adicionalmente, la eficiencia de facturación es extremadamente baja (56.47%), sugiriendo problemas en los procesos de lectura, facturación o cobranza, lo que impacta directamente en la liquidez y los ingresos.",
              "recomendaciones": "Se recomienda una auditoría exhaustiva de la red para identificar y reparar fugas, implementando tecnologías de detección avanzada. Paralelamente, es crucial revisar y optimizar los procesos de facturación y cobranza, invirtiendo en sistemas que mejoren la precisión y la rapidez. La capacitación del personal en gestión de fugas y atención al cliente para la cobranza también es fundamental. Se debe establecer un plan de acción con metas claras para reducir el costo del agua perdida y aumentar la eficiencia de facturación en los próximos 6 meses."
            },
            {
              "id_filial": 4,
              "nombre_filial": "Filial 4",
              "nivel_riesgo": "CRÍTICO",
              "analisis_detallado": "Aunque la Filial 4 mantiene un margen operativo robusto (68.10%), su salud operativa está comprometida por un costo del agua perdida alarmante (37.14% de los ingresos totales), lo que denota serias deficiencias en la infraestructura o en la gestión de pérdidas no técnicas. La eficiencia de facturación (53.85%) también está muy por debajo del objetivo, lo que implica una pérdida considerable de ingresos potenciales y una debilidad en la cadena de valor comercial.",
              "recomendaciones": "Es imperativo iniciar un programa de modernización de la infraestructura para mitigar las pérdidas de agua, incluyendo la sectorización de la red y el uso de telemetría. Asimismo, se debe implementar un plan de mejora en la gestión comercial, revisando desde la toma de lecturas hasta la emisión y entrega de facturas, y reforzando las estrategias de recuperación de cartera. Considerar la inversión en digitalización de estos procesos para obtener un mejor control y trazabilidad."
            },
            {
              "id_filial": 2,
              "nombre_filial": "Filial 2",
              "nivel_riesgo": "MEDIO",
              "analisis_detallado": "La Filial 2 exhibe un excelente margen operativo (94.23%) y un costo de agua perdida que se mantiene por debajo del umbral crítico (12.18% de los ingresos totales). Sin embargo, su eficiencia de facturación (70.00%) está por debajo del 85% deseado, lo que representa una oportunidad significativa para mejorar la captación de ingresos. Esta brecha en la facturación, aunque no tan severa como en otras filiales, limita su potencial de maximizar los beneficios operativos ya existentes.",
              "recomendaciones": "Se sugiere un análisis detallado de los procesos de facturación para identificar cuellos de botella y áreas de mejora. Implementar un sistema de gestión de clientes (CRM) que integre la lectura, facturación y cobranza podría optimizar significativamente la eficiencia. Realizar campañas de actualización de datos de clientes y promover métodos de pago electrónicos para agilizar el proceso de recaudación. Capacitar al personal en el uso de nuevas herramientas y en prácticas óptimas de atención al cliente."
            },
            {
              "id_filial": 1,
              "nombre_filial": "Filial 1",
              "nivel_riesgo": "MEDIO",
              "analisis_detallado": "La Filial 1 muestra un margen operativo sólido (74.00%) y un control aceptable del costo del agua perdida (18.89% de los ingresos totales), que está justo por debajo del límite de riesgo. El principal punto de mejora se encuentra en la eficiencia de facturación (62.00%), la cual es significativamente baja y podría estar impactando negativamente en la capacidad de la filial para generar y cobrar ingresos de manera efectiva. Mantener el costo del agua perdida bajo control es positivo, pero la baja eficiencia de facturación es un factor limitante.",
              "recomendaciones": "Focalizar esfuerzos en la mejora de la eficiencia de facturación mediante la revisión y estandarización de los procedimientos. Invertir en tecnologías de medición inteligente y sistemas de facturación automatizados puede reducir errores y tiempos. Desarrollar un plan de comunicación con los clientes para educarlos sobre la lectura de medidores y las opciones de pago. A su vez, monitorear de cerca el costo del agua perdida para asegurar que no supere el umbral del 20% y explorar iniciativas para reducirlo aún más."
            }
          ]
        }
      }
    ],
    "Generate HTML Report": [
      {
        "json": {
          "html": "<html>\n  <body style=\"font-family: Arial, sans-serif; background-color:#f4f8fb; padding: 20px; color:#003049;\">\n    <div style=\"max-width: 800px; margin: auto; background: #ffffff; padding: 25px; border-radius: 8px; border: 1px solid #dce6ee;\">\n      \n      <h2 style=\"color:#005f99; margin-bottom: 10px; font-weight: 600;\">\n        Alerta Financiera - ERM\n      </h2>\n      \n      <p style=\"font-size: 15px; color:#003049; line-height: 1.5;\">\n        Se han detectado filiales con indicadores financieros críticos que requieren atención inmediata.\n      </p>\n\n      <div style=\"margin-top: 25px;\">\n        \n            <div style=\"\n              border-left: 4px solid #dc3545;\n              padding: 15px;\n              margin-bottom: 20px;\n              background: #f0f7fc;\n              border-radius: 6px;\n            \">\n              <strong style=\"font-size: 16px; color:#003049;\">\n                Filial 3 (ID: 3)\n              </strong>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#dc3545; font-weight: bold;\">\n                Nivel de Riesgo: CRÍTICO\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#003049;\">\n                <strong>Análisis:</strong> La Filial 3 presenta un margen operativo saludable (60.94%), pero enfrenta desafíos críticos en la gestión del agua y la eficiencia de facturación. El costo del agua perdida representa un 31.88% de los ingresos totales, superando el umbral del 20%, lo que indica una ineficiencia significativa en la red o en la detección de fugas. Adicionalmente, la eficiencia de facturación es extremadamente baja (56.47%), sugiriendo problemas en los procesos de lectura, facturación o cobranza, lo que impacta directamente en la liquidez y los ingresos.\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#005f99;\">\n                <strong>Recomendaciones:</strong> Se recomienda una auditoría exhaustiva de la red para identificar y reparar fugas, implementando tecnologías de detección avanzada. Paralelamente, es crucial revisar y optimizar los procesos de facturación y cobranza, invirtiendo en sistemas que mejoren la precisión y la rapidez. La capacitación del personal en gestión de fugas y atención al cliente para la cobranza también es fundamental. Se debe establecer un plan de acción con metas claras para reducir el costo del agua perdida y aumentar la eficiencia de facturación en los próximos 6 meses.\n              </p>\n            </div>\n          \n            <div style=\"\n              border-left: 4px solid #dc3545;\n              padding: 15px;\n              margin-bottom: 20px;\n              background: #f0f7fc;\n              border-radius: 6px;\n            \">\n              <strong style=\"font-size: 16px; color:#003049;\">\n                Filial 4 (ID: 4)\n              </strong>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#dc3545; font-weight: bold;\">\n                Nivel de Riesgo: CRÍTICO\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#003049;\">\n                <strong>Análisis:</strong> Aunque la Filial 4 mantiene un margen operativo robusto (68.10%), su salud operativa está comprometida por un costo del agua perdida alarmante (37.14% de los ingresos totales), lo que denota serias deficiencias en la infraestructura o en la gestión de pérdidas no técnicas. La eficiencia de facturación (53.85%) también está muy por debajo del objetivo, lo que implica una pérdida considerable de ingresos potenciales y una debilidad en la cadena de valor comercial.\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#005f99;\">\n                <strong>Recomendaciones:</strong> Es imperativo iniciar un programa de modernización de la infraestructura para mitigar las pérdidas de agua, incluyendo la sectorización de la red y el uso de telemetría. Asimismo, se debe implementar un plan de mejora en la gestión comercial, revisando desde la toma de lecturas hasta la emisión y entrega de facturas, y reforzando las estrategias de recuperación de cartera. Considerar la inversión en digitalización de estos procesos para obtener un mejor control y trazabilidad.\n              </p>\n            </div>\n          \n            <div style=\"\n              border-left: 4px solid #ffc107;\n              padding: 15px;\n              margin-bottom: 20px;\n              background: #f0f7fc;\n              border-radius: 6px;\n            \">\n              <strong style=\"font-size: 16px; color:#003049;\">\n                Filial 2 (ID: 2)\n              </strong>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#dc3545; font-weight: bold;\">\n                Nivel de Riesgo: MEDIO\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#003049;\">\n                <strong>Análisis:</strong> La Filial 2 exhibe un excelente margen operativo (94.23%) y un costo de agua perdida que se mantiene por debajo del umbral crítico (12.18% de los ingresos totales). Sin embargo, su eficiencia de facturación (70.00%) está por debajo del 85% deseado, lo que representa una oportunidad significativa para mejorar la captación de ingresos. Esta brecha en la facturación, aunque no tan severa como en otras filiales, limita su potencial de maximizar los beneficios operativos ya existentes.\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#005f99;\">\n                <strong>Recomendaciones:</strong> Se sugiere un análisis detallado de los procesos de facturación para identificar cuellos de botella y áreas de mejora. Implementar un sistema de gestión de clientes (CRM) que integre la lectura, facturación y cobranza podría optimizar significativamente la eficiencia. Realizar campañas de actualización de datos de clientes y promover métodos de pago electrónicos para agilizar el proceso de recaudación. Capacitar al personal en el uso de nuevas herramientas y en prácticas óptimas de atención al cliente.\n              </p>\n            </div>\n          \n            <div style=\"\n              border-left: 4px solid #ffc107;\n              padding: 15px;\n              margin-bottom: 20px;\n              background: #f0f7fc;\n              border-radius: 6px;\n            \">\n              <strong style=\"font-size: 16px; color:#003049;\">\n                Filial 1 (ID: 1)\n              </strong>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#dc3545; font-weight: bold;\">\n                Nivel de Riesgo: MEDIO\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#003049;\">\n                <strong>Análisis:</strong> La Filial 1 muestra un margen operativo sólido (74.00%) y un control aceptable del costo del agua perdida (18.89% de los ingresos totales), que está justo por debajo del límite de riesgo. El principal punto de mejora se encuentra en la eficiencia de facturación (62.00%), la cual es significativamente baja y podría estar impactando negativamente en la capacidad de la filial para generar y cobrar ingresos de manera efectiva. Mantener el costo del agua perdida bajo control es positivo, pero la baja eficiencia de facturación es un factor limitante.\n              </p>\n              <p style=\"margin: 8px 0; font-size: 14px; color:#005f99;\">\n                <strong>Recomendaciones:</strong> Focalizar esfuerzos en la mejora de la eficiencia de facturación mediante la revisión y estandarización de los procedimientos. Invertir en tecnologías de medición inteligente y sistemas de facturación automatizados puede reducir errores y tiempos. Desarrollar un plan de comunicación con los clientes para educarlos sobre la lectura de medidores y las opciones de pago. A su vez, monitorear de cerca el costo del agua perdida para asegurar que no supere el umbral del 20% y explorar iniciativas para reducirlo aún más.\n              </p>\n            </div>\n          \n      </div>\n\n      <p style=\"margin-top: 30px; font-size: 13px; color:#6c7a86; text-align: center;\">\n        Este es un reporte automático generado por el sistema ERM con análisis de IA.\n      </p>\n\n    </div>\n  </body>\n</html>"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-21T00:04:20.971Z",
      "createdAt": "2025-11-21T00:04:20.971Z",
      "role": "workflow:owner",
      "workflowId": "cPCCC18A3ledR7z5",
      "projectId": "xno20arzPonor2IK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-06T23:02:14.399Z",
      "createdAt": "2025-12-06T23:01:34.502Z",
      "id": "EOtNswDwaWouZBrL",
      "name": "ERM"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-15T06:02:09.681Z",
  "versionId": "ea16139f-a81b-4930-87b0-ebf1b940190e"
}