workflows/oBMgKAawZpuCJGc2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-20T21:41:06.663Z",
  "id": "oBMgKAawZpuCJGc2",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CRM - Register New Customer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-customer",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "01014688-2d69-4cad-b5df-c20bb616b531",
      "name": "Webhook",
      "webhookId": "cef6f933-08e0-416d-a14b-94b276267456"
    },
    {
      "parameters": {
        "fromEmail": "santiago.amaya-z@mail.escuelaing.edu.co",
        "toEmail": "santiago.botero-g@mail.escuelaing.edu.co",
        "subject": "=Nuevo cliente: {{$json.name}}",
        "html": "=Hay un nuevo cliente registrado:\n\nNombre: {{$json.name}}\nEmail: {{$json.email}}\nTeléfono: {{$json.phone}}\nMensaje: {{$json.message}}\nTipo: {{$json.type || \"nuevo\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        384,
        0
      ],
      "id": "ad5bd2b6-86e2-4d41-b7b9-11d3fadfcd0d",
      "name": "Send email",
      "webhookId": "bf14d2d8-1085-4f0d-a83e-df946d994a2a",
      "credentials": {
        "smtp": {
          "id": "bJprEK5yBNisfuTh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customers",
          "mode": "list",
          "cachedResultName": "customers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        0
      ],
      "id": "5b8c0e82-3b38-4ca9-a115-cc9b2e943697",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "gyXDt2PS3zJ6Ccuo",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-20T21:41:06.747Z",
      "createdAt": "2025-11-20T21:41:06.747Z",
      "role": "workflow:owner",
      "workflowId": "oBMgKAawZpuCJGc2",
      "projectId": "xno20arzPonor2IK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T20:59:44.000Z",
  "versionId": "eed85bf1-e726-424c-b335-8b7bb8c0537e"
}